.cart {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    width: 1200px;
    margin: 30px auto 50px;
}

.cart th {
    text-align: left;
    padding: 5px;
}

.cart td {
    text-align: left;
    padding: 7px;
    font-size: 16px;
}

.btn-edit {
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    background-color: #2f77d6;
    padding: 5px 15px;
    border-radius: 10px;
}

.delete-btn {
    font-family: 'Arial Rounded MT';
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    background-color: #E94B4B;
    padding: 5px 30px;
    border-radius: 10px;
}

.checkout-btn {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
    background-color: #E1BDA5;
    padding: 15px 40px;
    border-radius: 10px;
    margin-left: 170px;
}

/*##################################
############ FORM STYLE ############
###################################*/

.cart-form {
    display: grid;
    grid-template-columns: auto auto;
}

.address-form {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    width: 500px;
    height: 150px;
    margin-left: 170px;
    margin-bottom: 130px;
}

.border {
    border-top: 2px solid black;
}

.checkout-input {
    border: none;
    border-bottom: 2px solid #78c274;
    padding: 5px;
    color: #000000;
}

/*###################################
########### PAYMENT STYLE ###########
###################################*/

.payment-form {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    width: 500px;
    height: 150px;
    margin-left: 170px;
    margin-bottom: 130px;
}

.form-btn {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
    background-color: #E1BDA5;
    border: none;
    padding: 15px 40px;
    width: 200px;
    border-radius: 10px;
    margin-left: 170px;
}

/*##################################
########### THANKS STYLE ###########
###################################*/

.thanks {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    font-family: 'Arial Rounded MT';
    font-size: 22px;
    text-decoration: none;
}