.cart {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    width: 1000px;
    margin: 30px auto 50px;
}

.cart th {
    text-align: left;
    padding: 5px;
}

.cart td {
    text-align: left;
    padding: 7px;
    font-size: 16px;
}

.btn-edit {
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    background-color: rgb(68, 68, 68);
    padding: 5px 15px;
    border-radius: 10px;
}

.delete-btn {
    font-family: 'Arial Rounded MT';
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    background-color: #E94B4B;
    padding: 5px 30px;
    border-radius: 10px;
}

.checkout-btn {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
    background-color: #E1BDA5;
    padding: 15px 40px;
    border-radius: 10px;
    margin-left: 170px;
}

@media (max-width: 1030px) {
    .cart {
        font-size: 16px;
        width: 700px;
    }
}

@media (max-width: 850px) {
    .cart {
        font-size: 14px;
        width: 500px;
    }

    .cart td {
        font-size: 13px;
    }

    .btn-edit {
        font-size: 12px;
        padding: 3px 10px;
        border-radius: 5px;
    }

    .delete-btn {
        font-size: 12px;
        padding: 3px 15px;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .cart {
        width: 300px;
    }

    .cart td {
        font-size: 12px;
    }

    .cart-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-edit {
        font-size: 12px;
        padding: 2px 5px;
        width: 17px;
        margin-bottom: 4px;
    }

    .delete-btn {
        padding: 4px;
        width: 65px;
    }
}

/*##################################
############ FORM STYLE ############
###################################*/

.cart-form {
    display: grid;
    grid-template-columns: auto auto;
    width: 1000px;
    margin: 30px auto 50px;
}

.address-form {
    display: grid;
    grid-gap: 15px;
    width: 400px;
    height: 150px;
    margin-bottom: 130px;
}

.border {
    border-top: 2px solid black;
}

.checkout-input {
    border: none;
    border-bottom: 2px solid #78c274;
    padding: 5px;
    color: #000000;
}

@media (max-width: 1030px) {
    .cart-form {
        width: 700px;
    }

    .address-form {
        width: 250px;
        margin-bottom: 130px;
    }
}

@media (max-width: 850px) {
    .cart-form {
        width: 500px;
    }

    .address-form {
        width: 200px;
        margin-bottom: 130px;
    }
}

@media (max-width: 600px) {
    .cart-form {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .address-form {
        width: 250px;
        margin-bottom: 100px;
    }
}

/*###################################
########### PAYMENT STYLE ###########
###################################*/

.payment-form {
    display: grid;
    grid-gap: 15px;
    width: 400px;
    height: 150px;
}

.form-btn {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
    background-color: #E1BDA5;
    border: none;
    padding: 15px 40px;
    width: 200px;
    border-radius: 10px;
}

@media (max-width: 1030px) {
    .payment-form {
        width: 250px;
    }
}

@media (max-width: 850px) {
    .payment-form {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .payment-form {
        width: 250px;
        margin-bottom: 130px;
    }
}

/*##################################
########### THANKS STYLE ###########
###################################*/

.thanks {
    display: flex;
    flex-direction: column;
    font-family: 'Arial Rounded MT';
    font-size: 20px;
    text-decoration: none;
    margin-top: 100px;
}

.thanks__p {
    text-align: center;
    width: 450px;
    margin: auto;
}

.thanks__link {
    font-family: 'Varela Round';
    font-size: 16px;
    color: #000000;
    justify-content: center;
    margin-left: 200px;
    margin-top: 100px;
}

@media (max-width: 600px) {
    .thanks__p {
        text-align: center;
        font-size: 18px;
        width: 330px;
        margin: auto;
    }

    .thanks__link {
        margin: auto;
    }
}