.prods {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    max-width: 1000px;
    margin: auto;
}

.prod__background {
    background-color: #8B9E8A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;
    height: 430px;
    padding: 30px;
    margin: 20px 0;
}

.prod__img {
    width: 180px;
    margin: 5px auto;
}

.prod__description {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
}

.prod__price {
    font-family: 'Arial Rounded MT';
    color: #FFF;
}

.prod__btn {
    font-family: 'Arial Rounded MT';
    text-decoration: none;
    color: #8B9E8A;
    background-color: #FBE1D0;
    border-radius: 15px;
    padding: 10px 50px;
    text-align: center;
}

@media (max-width: 1240px) {
    .prods {
        grid-template-columns: 300px 300px 300px;
        max-width: 850px;
    }
}

@media (max-width: 910px) {
    .prods {
        grid-template-columns: 250px 250px 250px;
        max-width: 730px;
    }

    .prod__background {
        max-width: 230px;
        height: 380px;
        padding: 20px;
        margin: 10px 0;
    }
    
    .prod__img {
        width: 140px;
    }
    
    .prod__description {
        font-size: 16px;
    }

    .prod__btn {
        padding: 10px 30px;
    }
}

@media (max-width: 750px) {
    .prods {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 490px;
    }
}

@media (max-width: 520px) {
    .prods {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}