@font-face {
    font-family: "Arial Rounded MT";
    src: url("../fonts/arlrdbd.ttf");
}

@font-face {
    font-family: "Varela Round";
    src: url("../fonts/varelaround-regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
}

/*##################################
########### HEADER STYLE ###########
###################################*/

header {
    background-color: #5b745e;
    padding: 8px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

h1 {
    font-family: "Arial Rounded MT";
    font-size: 26px;
    color: #fff;
    text-align: center;
}

.nav__menu {
    display: none;
}

.nav__ul {
    list-style: none;
    display: flex;
    flex-basis: 540px;
    justify-content: space-between;
    align-items: center;
}

ul a {
    text-decoration: none;
    font-family: "Arial Rounded MT";
    color: #fff;
    font-size: 18px;
}

@media (max-width: 850px) {
    h1 {
        font-size: 20px;
    }

    .nav__ul {
        flex-basis: 300px;
    }

    ul a {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }

    .nav__ul {
        display: none;
    }

    .nav__menu {
        display: flex;
        background: none;
        border: none;
        position: absolute;
        right: 20px;
    }
}

/*##################################
########## MESSAGES STYLE ##########
###################################*/

.error {
    font-family: 'Arial Rounded MT';
    font-size: 22px;
    color: rgb(255, 0, 0);
    background-color: rgba(253, 82, 82, 0.658);
    display: flex;
    justify-content: center;
}

.success {
    font-family: 'Arial Rounded MT';
    font-size: 22px;
    color: rgb(126, 207, 102);
    background-color: rgba(116, 184, 95, 0.555);
    display: flex;
    justify-content: center;
}

@media (max-width: 850px) {
    .error, .success {
        font-size: 18px;
    }
}

/*##################################
############ MAIN STYLE ############
###################################*/

h2 {
    font-family: "Arial Rounded MT";
    font-size: 26px;
    margin: 20px 170px;
}

.promo__img {
    width: 100%;
    height: auto;
}

.promo__text {
    font-family: "Arial Rounded MT";
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px;
    position: absolute;
    bottom: 450px;
    left: 50px;
}

.promo__btn {
    font-family: "Arial Rounded MT";
    font-size: 24px;
    text-decoration: none;
    color: #5b745e;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 70px;
    position: absolute;
    left: 50px;
    bottom: 370px;
}

.offer-section {
    display: flex;
    justify-content: space-around;
    width: 950px;
    flex-wrap: wrap;
    margin: 50px auto 0;
}

.home-prod__container {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.home-prod__img {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.home-prod__description {
    font-family: 'Arial Rounded MT';
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.home__price {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
}

.home-prod__btn {
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    color: #000;
    text-decoration: none;
    background-color: #FBE1D0;
    border-radius: 10px;
    padding: 15px 70px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../resources/imgs/bckgrnd.png");
    height: 300px;
    margin-top: 30px;
    margin-bottom: -70px;
    z-index: -1;
}

.banner__container {
    display: flex;
    flex-direction: column;
}

.banner__text {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    margin-top: 20px;
}

@media (max-width: 850px) {
    h2 {
        font-size: 22px;
        margin: 20px 100px;
    }

    .promo__text {
        font-size: 24px;
        margin-bottom: 10px;
        bottom: 460px;
    }

    .promo__btn {
        font-size: 20px;
        padding: 10px 40px;
        bottom: 400px;
    }

    .home-prod__container {
        max-width: 180px;
    }

    .home-prod__img {
        width: 150px;
        margin-bottom: 20px;
    }
    
    .home-prod__description {
        font-size: 16px;
    }

    .home__price {
        font-size: 14px;
    }

    .home-prod__btn {
        font-size: 14px;
        text-align: center;
        padding: 10px 30px;
        margin-top: 20px;
    }

    .banner {
        height: 250px;
        margin: 50px 0;
    }

    .banner__text {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .promo__text {
        font-size: 20px;
        margin-bottom: 10px;
        bottom: 510px;
    }

    .promo__btn {
        font-size: 18px;
        padding: 10px 30px;
        bottom: 450px;
    }

    .home-prod__container {
        max-width: 130px;
    }

    .home-prod__img {
        width: 100px;
    }
    
    .home-prod__description {
        font-size: 14px;
    }

    .home__price {
        font-size: 12px;
    }

    .home-prod__btn {
        font-size: 12px;
        padding: 7px 15px;
    }

    .banner {
        height: 200px;
    }

    .banner__text {
        font-size: 12px;
        max-width: 90px;
    }
}

/*##################################
########### FOOTER STYLE ###########
###################################*/

.background {
    margin-top: 70px;
    background-color: #FBE1D0;
    padding: 40px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo {
    font-family: 'Arial Rounded MT';
    font-size: 26px;
}

.footer__container {
    display: grid;
    grid-template-columns: 150px 150px;
    width: 150px;
}

.footer__link {
    font-family: 'Varela Round';
    text-decoration: none;
    color: #000;
    margin: 20px 0;
}

.foot {
    font-family: 'Arial Rounded MT';
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

@media (max-width: 850px) {
    .background {
        padding: 20px 70px;
        justify-content: space-between;
    }

    .footer__logo {
        font-size: 22px;
    }

    .footer__link {
        font-size: 14px;
        margin: 10px 0;
    }

    .footer__container {
        grid-template-columns: 110px 120px;
    }
}