.order__main {
    max-width: 1000px;
    margin: auto;
}

.order__background {
    background-color: #8B9E8A;
    border-radius: 30px;
    padding: 20px 80px 50px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: auto auto;
}

.order__container {
    display: grid;
    grid-template-columns: 120px auto 50px;
    margin: 20px 0;
    max-width: 450px;
    border: 1px solid red;
}

.order__img {
    width: 100px;
}

.order__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
}

.order__title {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
}

.order__price {
    font-family: 'Arial Rounded MT';
    color: #FFF;
}

.order__address {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
}

.address__details {
    font-family: 'Varela Round';
    font-size: 16px;
}

.sum {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

.sum__title, .sum__price {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
}

.confirmation-btn {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    background-color: #E1BDA5;
    padding: 15px 60px;
    border-radius: 10px;
    float: right;
}